# Node dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*
#!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output

# Cache
.cache
.npm
.eslintcache
.stylelintcache

# TypeScript
*.tsbuildinfo

# NestJS specific
.nest

# Database
prisma/dev.db
*.sqlite

# OS files
.DS_Store

# IDEs
.idea/
.vscode/

/generated/prisma

*.zip
